[submodule "ARC-Engine\\ARC-Engine\\vendor\\spdlog"]
	path = ARC-Engine\\ARC-Engine\\vendor\\spdlog
	url = https://github.com/gabime/spdlog/
[submodule "ARC-Engine/ARC-Engine/out/GLFW"]
	path = ARC-Engine/ARC-Engine/out/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "ARC-Engine/ARC-Engine/out/imgui"]
	path = ARC-Engine/ARC-Engine/out/imgui
	url = https://Github.com/TheCherno/imgui
[submodule "ARC-Engine/ARC-Engine/out/glm"]
	path = ARC-Engine/ARC-Engine/out/glm
	url = https://github.com/g-truc/glm.git
[submodule "ARC-Engine/ARC-Engine/src/ARC/Profiling"]
	path = ARC-Engine/ARC-Engine/src/ARC/Profiling
	url = https://gist.github.com/75b8b46af8c0d3e5060185b951b5e42a.git
[submodule "ARC-Engine/ARC-Engine/out/inifile_cpp"]
	path = ARC-Engine/ARC-Engine/out/inifile_cpp
	url = https://github.com/Hellboy434/inifile-cpp.git
