[submodule "ARC-Engine/out/spdlog"]
	path = ARC-Engine/out/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ARC-Engine/out/imgui"]
	path = ARC-Engine/out/imgui
	url = https://github.com/Hellboy434/imgui
	branch = docking
[submodule "ARC-Engine/out/inifile_cpp"]
	path = ARC-Engine/out/inifile_cpp
	url = https://github.com/Hellboy434/inifile-cpp
[submodule "ARC-Engine/out/glm"]
	path = ARC-Engine/out/glm
	url = https://github.com/g-truc/glm.git
[submodule "ARC-Engine/src/ARC/Profiling"]
	path = ARC-Engine/src/ARC/Profiling
	url = https://gist.github.com/75b8b46af8c0d3e5060185b951b5e42a.git
[submodule "ARC-Engine/out/sparse-map"]
	path = ARC-Engine/out/sparse-map
	url = https://github.com/Tessil/sparse-map.git
[submodule "ARC-Engine/out/ordered-map"]
	path = ARC-Engine/out/ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "ARC-Engine/out/yaml-cpp"]
	path = ARC-Engine/out/yaml-cpp
	url = https://github.com/Hellboy434/yaml-cpp
[submodule "ARC-Engine/out/ImGuizmo"]
	path = ARC-Engine/out/ImGuizmo
	url = https://github.com/Hellboy434/ImGuizmo
[submodule "ARC-Engine/out/box2d"]
	path = ARC-Engine/out/box2d
	url = https://github.com/ARC345/box2d.git
